extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Flor Aquino

        
        p Full Stack JavaScript Developer


        .about-bio

         
          p Welcome to my portfolio! I am currently a student in the Treehouse Full Stack JavaScript program an aspiring Software Engineer.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

       
          li 555-555-1234
          li floraquino34@gmail.com

      
        a.btn-link(href='https://www.linkedin.com') LinkedIn
        a.btn-link(href='https://github.com/faquinoortiz') GitHub
        a.btn-link(href='https://www.twitter.com') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back